body
{
	zoom: 1.5;
	-moz-transform: scale(1.5);
}

input[type=tel]
{
	border: 2px solid black;
	text-align: right;
	width: 100px;
	font-size: 16px;
}

input[type=tel]:focus
{
	border: 3px solid black;
	text-align: right;
	//box-shadow: 0 0 8px 0 dodgerBlue;
	border-color: dodgerBlue;
}

#paper_10000, #paper_5000, #paper_1000
{
	margin-left: 120px;
}

#send, #clear
{
	width: 224.5px;
}
